body {
    background-color: white;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 5px;
    padding: 10px;

}

#header {
    background-color: seagreen;

}
/* create button and other css */


  