body {
    background-color: seagreen;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 5px;
    padding: 10px;

}

.App {
    background-color: seagreen;
}

header {
    background-color: seagreen;
    color: white;
    padding: 10px 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 24px;
  }
/* create button and other css */


  