/* body {
    font-family: 'Courier New', Courier, monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: seagreen;
    font-size: 16px;
  }
   */